@value mediaQuery from '../../common/size.css';
.container {
  display: flex;
  justify-content: center;
}

.list {
  width: 1300px;
  display: flex;

  flex-wrap: wrap;

  margin-top: 0.5rem;
}

@media screen and (max-width: 81.25rem) {
  .list {
    width: 900px;
  }
}

@media screen and (max-width: 56.25rem) {
  .list {
    width: 388px;
  }
}
