@value mediaQuery1, mediaQuery2 from '../../common/size.css';
.container {
  display: flex;
  justify-content: center;
}

.list {
  width: 1300px;
  display: flex;

  flex-wrap: wrap;

  margin-top: 0.5rem;
}

@media screen and (max-width: mediaQuery1) {
  .list {
    width: 865px;
  }
}

@media screen and (max-width: mediaQuery2) {
  .list {
    width: 450px;
  }
}
