@font-face {
  font-family: "font1";
  src: url("../public/fonts/NanumSquareNeo-aLt.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "font2";
  src: url("../public/fonts/NanumSquareNeo-bRg.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "font3";
  src: url("../public/fonts/NanumSquareNeo-cBd.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "font4";
  src: url("../public/fonts/NanumSquareNeo-eHv.ttf") format("truetype");
  font-weight: bold;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  height: 100%;
}
#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
