@value mainBlue,mainLightBlue,sideBlue,textWhite from '../../common/colors.css';

* {
  font-family: font2;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px mainLightBlue solid;
  margin: 0.5rem 1rem;
  padding: 0.5rem 0.5rem;
  width: 20%;
  height: auto;
  border-radius: 18px;
}
.info {
}
.author {
  margin: 0;
  padding: 1rem;
}
.createTime {
  margin: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px dashed mainBlue;
}

.contentBox {
  display: flex;
  flex: 1;
  align-items: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.chip {
  height: max-content;
  font-size: 15px;
  flex-wrap: nowrap;
  background-color: mainLightBlue;
  width: fit-content;
  border-radius: 18px;
  padding: 5px 10px;
  margin: 0.25rem 0.25rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.chip.appointment {
  background-color: mainBlue;
}

.chop.goal {
  display: flex;
}

.G {
  position: relative;
  background-color: sideBlue;
  border-radius: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 5px;
  width: 30px;
  right: 8px;
}

.chip:hover {
  transform: ;
}
.chipDelete {
  display: none;
  color: rgb(255, 255, 255);
  margin-left: 0.3rem;
  opacity: 0.9;
  border: none;
}
