.header {
  background-color: ;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: ;
}
.link {
  flex: 0.8;
  margin: ;
  text-decoration: none;
  color: hsl(212, 37%, 60%);
  font-size: 1.2rem;
  font-family: "Xanh Mono";
  letter-spacing: 3px;
  font-weight: 500;
  text-align: center;
}
.button {
  font-size: 1rem;
  font-family: "Xanh Mono";
  font-weight: 500;
  flex: 0.2;
  background: none;
  cursor: pointer;
  border: none;
  color: hsl(212, 37%, 60%);
  transition-delay: 2s;
}

.link:hover {
  letter-spacing: 0;
}
