@value mainLightBlue,mainBlue,sideBlue from '../../common/colors.css';
.border {
  border: 6px dashed mainBlue;

  padding: 1rem;
  width: 190px;
  height: 190px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 500ms ease-in;
  transition: transform 200ms ease-in;
}

.img {
  max-width: 90%;
  height: auto;
}

.border:hover {
  background-color: #e2e0e0;
  transform: scale(1.02);
}
