@value mainBlue, sideBlue,mainLightBlue, textWhite from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';
.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input {
  margin: 0.5rem;
  background-color: mainLightBlue;
  outline: 0;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
}
