.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.box {
  display: flex;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: center/80% no-repeat white;
  width: 20px;
  height: 20px;
  border-width: thin;
  cursor: pointer;
}
