.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.react-datepicker__input-container {
  width: 230px;
  background-color: white;
  border: 1px black solid;
  outline: 0;
  padding: 0.8rem;
  font-size: 1rem;
}

.DatePicker {
}
