@value mainBlue, mainLightBlue,sideBlue, textWhite from '../../common/colors.css';

.react-datepicker__input-container {
  display: flex;
  justify-content: center;
}
.react-datepicker-wrapper {
  max-width: 300px;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background-color: #5c84b5;
  color: white;
  font-weight: bold;
}
