.container {
  margin: 1rem 1rem;
  margin-bottom: 0;
  padding: 0.5rem 10px;
  width: 380px;
  height: 230px;
}

.addCard {
  border: 1px solid;
  padding: 0.5rem 0.5rem;
  animation: fade-in 1s;
  animation-fill-mode: forwards;
}
