@value eng :"Varela Round", sans-serif;
@value kor : "Noto Sans KR", sans-serif;

@font-face {
  font-family: "NotoSansKR";
  src: url("../../public/fonts/VarelaRound-Regular.ttf") format("woff");
  font-style: normal;
}
