@value mediaQuery from '../../common/size.css';

.spotlist {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 1rem;

  width: max-content;
  border: red 1px solid;
}
