.home {
  background-color: hsl(212, 28%, 87%);
  border: 1px red solid;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 500px;
}

.text {
  font-family: "Noto Serif KR", serif;
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
  color: black;
}
