.home {
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.img {
  width: 500px;
}

.text {
  font-family: "Noto Serif KR", serif;
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
  margin-left: 2rem;
  color: hsl(212, 37%, 60%);
}
