@value mainBlue, sideBlue, textWhite from '../../common/colors.css';
.spot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  border: 10px solid sideBlue;
  border-top: 10px solid mainBlue;
  width: 40%;
  margin-top: 25%;
  padding-bottom: 40%;
  border-radius: 50%;
}
